aiofiles
aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
alembic
amqp
annotated-doc
annotated-types
anyio
asgiref
asyncpg
attrs
Authlib
axios
azure-ai-vision-imageanalysis
azure-core
azure-identity
azure-iot-hub
azure-storage-blob
bcrypt
billiard
bson
cachetools
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cloudinary
cmake
colorama
cryptography
distro
dj-rest-auth
Django
django-allauth
django-cleanup
django-cors-headers
django-countries
django-environ
django-extensions
django-filter
django-jazzmin
django-phonenumber-field
django-timezone-field
djangorestframework
djangorestframework-simplejwt
dnspython
dotenv
drf-spectacular
drf-yasg
ecdsa
email-validator
environ
exceptiongroup
fastapi
fastapi-jwt-auth
frozenlist
git-filter-repo
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
gunicorn
h11
httpcore
httplib2
httptools
httpx
idna
inflection
iniconfig
isodate
Jinja2
jiter
jsonschema
jsonschema-specifications
kombu
limits
lxml
Mako
mangum
markdown-it-py
MarkupSafe
mdurl
motor
msal
msal-extensions
msrest
multidict
oauthlib
openai
packaging
passlib
paystack
phonenumbers
pillow
pluggy
prompt_toolkit
propcache
proto-plus
protobuf
psutil
psycopg2
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
pycryptodome
pycryptodomex
pydantic
pydantic-settings
pydantic_core
Pygments
PyJWT
pymongo
pyparsing
pytest
pytest-django
python-dateutil
python-decouple
python-dotenv
python-environ
python-jose
python-magic
python-multipart
pytz
PyYAML
redis
referencing
requests
requests-oauthlib
rich
rpds-py
rsa
ruff
setuptools
shortuuid
simplejson
six
slowapi
sniffio
SQLAlchemy
SQLAlchemy-Utils
sqlparse
starlette
tenacity
tomli
tqdm
twilio
typing-inspection
typing_extensions
tzdata
uamqp
uritemplate
urllib3
uvicorn
vine
watchfiles
wcwidth
websockets
Werkzeug
wheel
yarl
